body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;

}

.background-image {
    background-image: url("../images/background_image.jpg");
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.substrate {
    background-color: rgba(255, 255, 255, 80%);
    height: auto;
    padding: 10px;
    border-radius: 10px;
}
