{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
        Dish List
    </h1>
    <p>
        <a style="float: right; margin-left: 10px" class="btn btn-primary" href="{% url 'kitchen:ingredient-list' %}">View ingredients</a>

        <a style="float: right" class="btn btn-primary" href="{% url 'kitchen:dish-create' %}">Append</a>
        <form action="" method="get" class="form-inline">
            {{ search_form|crispy }}
            <input class="btn btn-primary" type="submit" value="🔍">
        </form>
    </p>
    {% if dish_list %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>

            {% for dish in dish_list %}
                <tr>
                    <td>
                        <a href="{{ dish.get_absolute_url }}">{{ dish.id }}</a>
                    </td>
                    <td>
                        <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
                    </td>
                    <td>
                        {{ dish.price }}
                    </td>
                    <td>
                        {{ dish.description }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no dishes in menu</p>
    {% endif %}
{% endblock %}
