{% extends "base.html" %}

{% block content %}
    <div class="substrate">
        <h1>
            Title: {{ dish.name }}
            <a style="float: right" class="btn btn-warning bi bi-arrow-clockwise" href="{% url 'kitchen:dish-update' pk=dish.id %}"> Edit</a>
        </h1>
        <p><strong>Price: </strong>{{ dish.price }}</p>
        <p><strong>Description: </strong>{{ dish.dish_type.name }}</p>

        <div class="ml-3">
        <h3>Ingredients:</h3>
            {% for ingredient in dish.ingredients.all %}
                <hr>
                <p>
                    <strong>{{ ingredient.name }}</strong>
                </p>
            {% empty %}
                <p>No Ingredients!</p>
            {% endfor %}
        <h3>Cooks</h3>
        {% for cook in dish.cooks.all %}
            <hr>
            <p>
                <strong>Full name:</strong>
                {{ cook.first_name }} {{ cook.last_name }}
                {% if cook.years_of_experience %}
                    (exp: {{ cook.years_of_experience }} years)
                {% endif %}
            </p>
        {% empty %}
            <p>No Cooks!</p>
        {% endfor %}
        </div>
        <a class="btn btn-warning bi bi-menu-app" href="{% url 'kitchen:dish-list' %}">
            Menu
        </a>
        <a class="btn btn-danger link-to-page" href="{% url 'kitchen:dish-delete' pk=dish.id %}">
            Delete
        </a>
    </div>
{% endblock %}
