{% extends "base.html" %}

{% block content %}
    <h1>
        Dish type list
        <a style="float: right" class="btn btn-primary" href="{% url 'kitchen:ingredient-create' %}">+</a>
    </h1>
    {% if dish_type_list %}
        <table class="table">
            <str>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

                {% for ingredient in ingredient_list %}
                    <tr>
                        <td>
                            {{ ingredient.id }}
                        </td>
                        <td>
                            {{ ingredient.name }}
                        </td>
                        <td>
                            <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}">Update</a>
                        </td>
                        <td>
                            <a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </str>
        </table>
    {% else %}
        <p>The are no ingredient in list</p>
    {% endif %}

{% endblock %}
